<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rcircle.service.account.mapper.AccountMapper">
    <cache type="com.rcircle.service.account.redis.RedisCache"/>
    <resultMap id="AccountDetial" type="Account">
        <id property="uid" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="status" column="status"/>
        <result property="firsttime" column="first_time"/>
        <result property="times" column="times"/>
        <result property="resume" column="resume"/>
        <result property="avatar" column="avatar"/>
        <result property="lastlogin" column="last_login"/>
        <result property="signature" column="signature"/>
        <collection property="roles" column="id" select="getAccountRoles"/>
    </resultMap>

    <select id="getDetialByName" resultMap="AccountDetial">
        SELECT *
        FROM t_account
        <where>
            <if test="username != null">
                username = #{username}
            </if>
            <if test="email != null">
                OR email = #{email}
            </if>
        </where>
        LIMIT 1;
    </select>

    <insert id="create" useGeneratedKeys="true" keyProperty="uid" parameterType="Account">
        INSERT INTO t_account (
        <if test="signature.length > 0">signature,</if>
        <if test="resume.length > 0">resume,</if>
        <if test="avatar.length > 0">avatar,</if>
        username, password, email, first_time, status
        ) VALUES (
        <if test="signature.length > 0">#{signature},</if>
        <if test="resume.length > 0">#{resume},</if>
        <if test="avatar.length > 0">#{avatar},</if>
        #{username}, #{password}, #{email}, #{firsttime}, #{status}
        )
    </insert>

    <update id="setAccountStatus">
        UPDATE t_account
        SET
            status = #{status}
        WHERE
            id = #{uid}
    </update>

    <delete id="deleteAccount">
        DELETE
        FROM t_account
        WHERE id = #{uid};
    </delete>

    <delete id="deleteAllRoleMap">
        DELETE FROM t_account_role_map
        WHERE id in
        <foreach collection="list" index="i" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="addRoleForAccount">
        INSERT INTO
            t_account_role_map
            (uid, rid)
        VALUES
            (#{uid}, #{rid})
    </insert>

    <delete id="deleteRoleMap">
        DELETE
        FROM t_account_role_map
        WHERE id = #{id}
    </delete>

    <update id="updateLoginTime" parameterType="Account">
        UPDATE t_account
        <set>
            <if test="times != 0">times=#{times},</if>
            <if test="lastlogin != 0">last_login=#{lastlogin}</if>
        </set>
        WHERE id = #{uid}
    </update>

    <select id="getAllUsername" resultType="String">
        SELECT username
        FROM t_account
    </select>

    <select id="getAllAccount" resultType="Account">
        SELECT id AS 'uid',username,signature,resume,avatar
        FROM account.t_account
        WHERE status = 0;
    </select>

    <select id="getAccountRoles" resultType="Role">
        SELECT t_role.id AS rid, t_role.description AS authority, t_account_role_map.id AS mid
        FROM t_account_role_map
                 INNER JOIN t_role
                            ON t_account_role_map.rid = t_role.id
                                AND t_account_role_map.uid = #{id}
    </select>

    <select id="getDetialByUid" resultMap="AccountDetial">
        SELECT *
        FROM t_account
        <where>
            <if test="uid != 0">
                id = #{uid}
            </if>
        </where>
        <if test="uid != 0">LIMIT 1;</if>
    </select>

    <update id="updateAccount" parameterType="Account">
        UPDATE t_account
        <set>
            <if test="password.length > 0">password=#{password},</if>
            <if test="email.length > 0">email=#{email},</if>
            <if test="signature.length > 0">signature=#{signature},</if>
            <if test="resume.length > 0">resume=#{resume},</if>
            <if test="avatar.length > 0">avatar=#{avatar},</if>
        </set>
        WHERE id = #{uid}
    </update>
</mapper>