<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title th:text="${title}"></title>
    <link rel="icon" href="/global/img/core-img/favicon.ico">
    <link rel="stylesheet" href="/global/css/style.css">
</head>
<body>
<!-- Preloader -->
<div id="preloader">
    <div class="preload-content">
        <div id="original-load"></div>
    </div>
</div>
<div th:include="public::topbar"></div>
<div class="hero-area">
    <!-- Hero Slides Area -->
    <div class="hero-slides owl-carousel">
        <!-- Single Slide -->
        <div th:each="hero:${band}" class="single-hero-slide bg-img"
             th:style="${'background-image: url('+ hero.url +');'}">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="slide-content text-center">
                            <div class="post-tag">
                                <a href="#" data-animation="fadeInUp" th:text="${hero.tag}"></a>
                            </div>
                            <h2 data-animation="fadeInUp" data-delay="250ms"><a href="#" th:text="${hero.title}"></a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog-wrapper section-padding-100 clearfix">
    <div class="container">
        <div class="row align-items-end">
            <!-- Single Blog Area -->
            <div class="col-12 col-lg-4">
                <div class="single-blog-area clearfix mb-100">
                    <!-- Blog Content -->
                    <div class="single-blog-content">
                        <div class="line"></div>
                        <a href="#" class="post-tag">Lifestyle</a>
                        <h4><a href="#" class="post-headline">Welcome to this Simple Life Blog</a></h4>
                        <p>Happiness is a journey, not a destination. So work like you dont't need the money,
                        Love like you have never been hurt, and dance like no one's watching.</p>
                        <a href="/about" class="btn original-btn">Read More</a>
                    </div>
                </div>
            </div>
            <!-- Single Blog Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-catagory-area clearfix mb-100">
                    <img src="/global/img/blog-img/1.jpg" alt="">
                    <!-- Catagory Title -->
                    <div class="catagory-title">
                        <a href="/blog/list">Lifestyle posts</a>
                    </div>
                </div>
            </div>
            <!-- Single Blog Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-catagory-area clearfix mb-100">
                    <img src="/global/img/blog-img/2.jpg" alt="">
                    <!-- Catagory Title -->
                    <div class="catagory-title">
                        <a href="#">latest posts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-9" th:if="${logs.size() > 0}">
                <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" th:each="log,state:${logs}"
                     th:data-wow-delay="${'0.' + state.index+ 's'}">
                    <div th:if="${state.index != 2}" class="row align-items-center">
                        <div class="col-12 col-md-6">
                            <div class="single-blog-thumbnail">
                                <img th:src="${log.cover}" alt="">
                                <div class="post-date">
                                    <a th:utext="${'<span>' + log.year + '</span>' + log.day + '<span>' + log.month +'</span>'}"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <!-- Blog Content -->
                            <div class="single-blog-content">
                                <div class="line"></div>
                                <a th:href="${'/blog/cate?cid=' + log.category.cid}" class="post-tag"
                                   th:text="${log.category.desc}"></a>
                                <h4><a th:href="${'/blog/article?id=' + log.id}" class="post-headline"
                                       th:text="${log.title}"></a></h4>
                                <p th:text="${log.desc}"></p>
                                <div class="post-meta">
                                    <p>By <a th:text="${log.author}"></a></p>
                                    <p th:text="${log.replies_count + ' comments'}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${state.index == 2}" class="row">
                        <div class="col-12">
                            <div class="single-blog-thumbnail">
                                <img th:src="${log.cover}" alt="">
                                <div class="post-date">
                                    <a th:utext="${'<span>' + log.year + '</span>' + log.day + '<span>' + log.month +'</span>'}"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <!-- Blog Content -->
                            <div class="single-blog-content mt-50">
                                <div class="line"></div>
                                <a th:href="${'/blog/cate?cid=' + log.category.cid}" class="post-tag"
                                   th:text="${log.category.desc}"></a>
                                <h4><a th:href="${'/blog/article?id=' + log.id}" class="post-headline"
                                       th:text="${log.title}"></a></h4>
                                <p th:text="${log.desc}"></p>
                                <div class="post-meta">
                                    <p>By <a th:text="${log.author}"></a></p>
                                    <p th:text="${log.replies_count + ' comments'}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Load More -->
                <div class="load-more-btn mt-100 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1000ms">
                    <a href="/blog/list" class="btn original-btn">Read More</a>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3" th:include="public::sidebar"></div>
        </div>
    </div>
</div>
<div th:include="public::bottombar"></div>

<script src="/global/js/jquery-2.2.4.min.js"></script>
<script src="/global/js/popper.min.js"></script>
<script src="/global/bootstrap/js/bootstrap.min.js"></script>
<script src="/global/js/plugins.js"></script>
<script src="/global/js/active.js"></script>
<script src="/global/js/events.js"></script>
</body>
</html>
