<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/global/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/global/font-awesome/css/font-awesome.min.css">
</head>
<body>
<div th:include="public::topbar"></div>
<div class="container">
    <div th:each="log:${diaries}">
        <div class="card">
            <div class="card-body">
                <a>
                    <h4 class="card-title" th:text="${log.title}"></h4>
                    <p class="card-text">Some example text. Some example text.</p>
                </a>
            </div>
            <div class="card-footer">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <br>
    </div>
</div>
<div th:include="public::bottombar"></div>
<script src="/global/js/jquery-3.3.1.min.js"></script>
<script src="/global/js/popper.min.js"></script>
<script src="/global/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>