<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title th:text="${title}"></title>
    <link rel="icon" href="/global/img/core-img/favicon.ico">
    <link rel="stylesheet" href="/global/summernote/summernote-bs4.css">
    <link rel="stylesheet" href="/global/video-js/video-js.min.css">
    <link rel="stylesheet" href="/global/css/style.css">
</head>
<body>
<div th:include="public::topbar"></div>
<div class="container">
    <div class="d-flex mb-1">
        <p class="font-weight-bold mr-1 my-auto" th:value="${res_id}">Title</p>
        <input type="text" class="flex-grow-1 title">
    </div>
    <div class="d-flex mb-1">
        <p class="my-auto ml-auto mr-1 font-weight-bold">Category</p>
        <select id="category">
            <option th:each="category:${categories}" th:value="${category.name}" th:text="${category.name}"></option>
        </select>
        <button type="button" class="btn fa fa-plus" data-toggle="modal" data-target="#addLogType"></button>
    </div>
    <div id="summernote"></div>
    <>
    <div class="mt-2 d-flex">
        <div class="btn-group ml-auto">
            <button type="button" class="btn btn-primary mr-1" data-toggle="modal" data-target="#extmodal">Preview</button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#extmodal">Publish</button>
        </div>
    </div>
</div>
<div th:include="public::bottombar"></div>

<div class="modal fade" id="addLogType" tabindex="-1">
    <div class="subscribe-newsletter-area">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="modal-body">
                    <h5 class="title">Create category</h5>
                    <div class="newsletterForm">
                        <input placeholder="New category here">
                        <button type="button" class="btn original-btn" data-dismiss="modal">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="extmodal" tabindex="-1">
    <div class="subscribe-newsletter-area">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="modal-body">
                    <h5 class="title"></h5>
                    <div class="modal-div"></div>
                    <div class="newsletterForm">
                        <button type="button" class="btn original-btn" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
<div class="hiddendiv"></div>
<script src="/global/js/jquery-2.2.4.min.js"></script>
<script src="/global/js/popper.min.js"></script>
<script src="/global/bootstrap/js/bootstrap.min.js"></script>
<script src="/global/summernote/summernote-bs4.min.js"></script>
<script src="/global/video-js/video.min.js"></script>
<script src="/global/js-spark-md5/spark-md5.min.js"></script>
<script src="/global/summernote/plugin/summernote-ext-myvideo.js"></script>
<script src="/global/js/logeditor.js"></script>
<script src="/global/js/plugins.js"></script>
<script src="/global/js/active.js"></script>
</body>
</html>
