<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
<body>
<div th:fragment="topbar">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">MY_LOGO</a>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <form class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav ml-2">
                    <li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Popular</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Topics</a>
                            <a class="dropdown-item" href="#">Courses</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Trend</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Events</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                </ul>
            </div>
            <div class="navbar" sec:authorize="!isAuthenticated()">
                <button type="button" class="btn btn-outline-light">Sign in</button>
                <button type="button" class="btn btn-outline-light ml-1">Sign up</button>
            </div>
            <div class="navbar" sec:authorize="isAuthenticated()">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" sec:authentication="name">username</a>
                    <div class="dropdown-menu">
                        <a class="nav-link" href="#">Notifications</a>
                        <a class="nav-link" href="#">Blog</a>
                        <div class="dropdown-divider"></div>
                        <a class="nav-link" href="#">Profile</a>
                        <a class="nav-link" href="#">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="nav-link" href="#">Logout</a>
                    </div>
                </li>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</div>
<div th:fragment="bottombar">
    <div class="container">
        <ul class="horizon-ul">
            <li><i class="fa fa-copyright"> 2019 RCircle, Inc.</i></li>
            <li><a href="#">Terms</a></li>
        </ul>
        <ul class="float-right horizon-ul">
            <li><a href="#" title="RCircle on Weibo"><i class="fa fa-weibo fa-2x icon-color-gray"></i></a></li>
            <li><a href="https://github.com/ray0728/microservices" target="_blank" title="RCircle on Github"><i
                    class="fa fa-github fa-2x icon-color-gray"></i></a></li>
        </ul>
    </div>
</div>
</body>
</html>