<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/global/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/global/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/global/css/nav-userdef.css">
    <link rel="stylesheet" href="/global/css/style.css">
</head>
<body>
<div th:include="public::topbar"></div>
<div class="container">
    <h1>Join R-Circle</h1>
    <p class="lead">The best way to ask, learn, and find your interest.</p>
    <h2>Create your personal account</h2>
    <h2 class="errinfo" th:text="${errinfo}" th:if="${errinfo}"></h2>
    <form role="form" action="#" th:action="@{/join}" th:object="${account}" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" th:field="*{username}">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input id="email" type="text" class="form-control" th:field="*{email}">
            <p class="help-block">We’ll occasionally send updates about your account to this inbox. We’ll never share
                your email address with anyone.</p>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" class="form-control" th:field="*{password}">
            <p class="help-block">Make sure it's more than 15 characters OR at least 8 characters including a number and a lowercase letter.</p>
        </div>
        <button type="submit" class="btn btn-success">Create an account</button>
    </form>
</div>
<div th:include="public::bottombar"></div>
<script src="/global/js/jquery-3.3.1.min.js"></script>
<script src="/global/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>