<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="${title}"></title>
    <link rel="icon" href="/global/img/core-img/favicon.ico">
    <link rel="stylesheet" href="/global/css/style.css">
    <link rel="stylesheet" href="/global/css/log.css">
</head>
<body>
<div th:include="public::topbar"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-9">
            <h3>Join Simple Life</h3>
            <blockquote class="blockquote">
                <p th:text="${quot.desc}"></p>
                <footer class="blockquote-footer" th:text="${quot.author + '【' + quot.source + '】'}"></footer>
            </blockquote>
            <h5>Create your personal account</h5>
            <br/>
            <div id="errinfo" class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span>Java script is not running, please check your browser settings and refreshes page</span>
            </div>
            <br/>
            <div class="row">
                <div class="col-12 col-sm-3">
                    <div class="group">
                        <div class="author-thumbnail">
                            <img id="avatar_img" src="/global/img/default-avatar.png">
                        </div>
                        <input id="upload_avatar" type="file" accept="image/*" class="hidden">
                        <label for="upload_avatar">Avatar</label>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-9">
                <div class="row">
                    <div class="col-12">
                        <div class="group">
                            <input id="username" type="text" name="username" required>
                            <label>Username</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="group">
                            <input id="email" type="email" name="email" required>
                            <p class="help-block">We’ll occasionally send updates about your account to this
                                inbox.
                                We’ll
                                never share
                                your email address with anyone.</p>
                            <label>Email address</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="group">
                            <input id="passwd" type="password" name="password" required>
                            <p class="help-block">Make sure it's more than 15 characters OR at least 8
                                characters
                                including
                                a number and a lowercase letter.</p>
                            <label>Password</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="group">
                        <input id="signature" type="text">
                        <p class="help-block">Create your own signature.</p>
                        <label>Signature</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="group">
                        <input id="resume" type="text">
                        <p class="help-block">Make an assessment of yourself, such as mastering skills, past work,
                            hobbies, etc.</p>
                        <label>Resume</label>
                    </div>
                </div>
                <div class="col-12">
                    <button type="button" class="btn original-btn" data-toggle="modal"
                            data-target="#createAccountModal">Create an account
                    </button>
                </div>
                </form>
            </div>
        </div>
        <div class="col-12 col-lg-3" th:include="public::sidebar"></div>
    </div>
</div>
<div th:include="public::bottombar"></div>
<div class="subscribe-newsletter-area">
    <div class="modal fade" id="createAccountModal" tabindex="-1" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="title">Creating your account</h5>
                    <div class="progress progresswithlabel mb-2">
                        <div class="progress-bar progress-bar-striped bar" style="width:0%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/global/js/jquery-2.2.4.min.js"></script>
<script src="/global/js/jquery.base64.js"></script>
<script src="/global/js/popper.min.js"></script>
<script src="/global/bootstrap/js/bootstrap.min.js"></script>
<script src="/global/js-spark-md5/spark-md5.min.js"></script>
<script src="/global/js/plugins.js"></script>
<script src="/global/js/active.js"></script>
<script src="/global/js/events.js"></script>
<script src="/global/js/signup.js"></script>
</body>
</html>
