<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rcircle.service.resource.mapper.ResourceMapper">
    <cache type="com.rcircle.service.resource.redis.RedisCache"/>
    <resultMap id="logMap" type="Log">
        <id column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="title" property="title"/>
        <result column="date" property="date"/>
        <result column="gid" property="gid"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <association property="detail" column="id" select="getLogDetail"/>
        <collection property="replyList" column="id" select="getLogReplies"/>
        <collection property="tags" column="id" select="getTags"/>
    </resultMap>
    <resultMap id="logDetailMap" type="LogDetail">
        <id column="id" property="id"/>
        <result column="lid" property="lid"/>
        <result column="res_url" property="res_url"/>
    </resultMap>
    <resultMap id="replyMap" type="Reply">
        <id column="id" property="id"/>
        <result column="lid" property="lid"/>
        <result column="uid" property="uid"/>
        <result column="desc" property="desc"/>
        <result column="date" property="date"/>
    </resultMap>

    <update id="changeLogStatus">
        UPDATE t_log
        SET status=#{status}
        WHERE id = #{id}
    </update>

    <select id="getLogStatus">
        SELECT status
        FROM t_log
        WHERE id = #{id}
    </select>

    <select id="getLogReplies" resultType="Reply">
        SELECT *
        FROM t_reply
        WHERE lid = #{id}
    </select>

    <select id="getLogDetail" resultType="LogDetail">
        SELECT *
        FROM t_log_detail
        WHERE lid = #{id}
    </select>

    <insert id="createLogDetail" useGeneratedKeys="true" keyProperty="id" parameterType="LogDetail">
        INSERT INTO t_log_detail(lid, res_url)
        VALUES (#{lid}, #{res_url});
    </insert>

    <insert id="createLog" useGeneratedKeys="true" keyProperty="id" parameterType="Log">
        INSERT INTO t_log(uid, title, date, gid, type)
        VALUES (#{uid}, #{title}, #{date}, #{gid}, #{type}, 0, 0);
    </insert>

    <insert id="createReply" useGeneratedKeys="true" keyProperty="id" parameterType="Reply">
        INSERT INTO t_reply(lid, uid, desc, date)
        VALUES (#{lid}, #{uid}, #{desc}, #{date}, 0, 0);
    </insert>

    <delete id="deleteLog">
        DELETE
        FROM t_log
        WHERE id = #{id};
    </delete>

    <delete id="deleteLogDetail">
        DELETE
        FROM t_log_detail
        WHERE id = #{id};
    </delete>

    <delete id="deleteReply">
        DELETE
        FROM t_reply
        WHERE id = #{id};
    </delete>

    <update id="changeLog">
        UPDATE t_log
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="date != 0">date = #{date},</if>
            <if test="gid !=  0">gid = #{gid},</if>
            <if test="type != null">type = #{type},</if>
        </set>
        WHERE id = #{id};
    </update>

    <update id="changeLogDetail">
        UPDATE t_log_detail
        <set>
            <if test="log != null">htmllog = #{log},</if>
            <if test="res_url != null">res_url = #{res_url},</if>
        </set>
        WHERE id=#{id}
    </update>

    <select id="getLogById" resultMap="logMap">
        SELECT *
        FROM t_log
        WHERE id = #{id};
    </select>

    <select id="getLogsByUid" resultMap="logMap">
        SELECT *
        FROM t_log
        WHERE uid = #{uid};
    </select>

    <select id="getPublicLogsByType" resultMap="logMap">
        SELECT *
        FROM t_log
        WHERE type = #{type};
    </select>

    <select id="getGroupLogsByType" resultMap="logMap">
        SELECT * FROM t_log
        <where>
            <if test="gid != 0">gid=#{gid}</if>
            <if test="type != 0">and type = #{type}</if>
        </where>
    </select>

    <select id="getAllCategory" resultType="Category">
        SELECT t_account_category_map.id  AS id,
               t_category.id              AS cid,
               t_category.desc            AS `desc`,
               t_account_category_map.uid AS uid
        FROM t_category
                 INNER JOIN t_account_category_map ON t_category.id = t_account_category_map.type_id
        WHERE t_account_category_map.uid = #{uid};
    </select>

    <insert id="createCategory" useGeneratedKeys="true" keyProperty="cid" parameterType="Category" keyColumn="id">
        INSERT INTO t_category(`desc`)
        VALUES (#{desc});
    </insert>

    <delete id="deleteCategory">
        DELETE
        FROM t_category
        WHERE id = #{cid}
          AND `desc` = #{desc};
    </delete>

    <insert id="addUserDefCategory" useGeneratedKeys="true" keyProperty="id" parameterType="Category">
        INSERT INTO t_account_category_map(uid, type_id)
        VALUES (#{uid}, #{cid});
    </insert>

    <delete id="deleteUserDefCategory">
        DELETE
        FROM t_account_category_map
        WHERE id = #{id}
          AND uid = #{uid};
    </delete>

    <select id="getCategory" resultType="Category">
        SELECT id AS cid,`desc`
        from t_category
        WHERE `desc` = #{desc} LIMIT 1;
    </select>

    <select id="getAccountCategoryMapId" resultType="Category">
        SELECT id, uid, type_id AS cid
        FROM t_account_category_map
        WHERE type_id = #{cid}
          AND uid = #{uid} LIMIT 1;
    </select>

    <select id="getTags" resultType="Tag">
        SELECT t_tag.id, t_tag.desc, t_tag_log_map.id AS mid
        FROM t_tag
                 JOIN t_tag_log_map
        WHERE t_tag_log_map.lid = #{id}
          AND t_tag_log_map.tid = t_tag.id;
    </select>

    <select id="getAllTags" resultType="Tag">
        SELECT t_tag.id, t_tag.desc
        FROM t_tag
                 JOIN t_tag_log_map
                 JOIN t_log
        WHERE t_log.uid = #{uid}
          AND t_tag_log_map.tid = t_tag.id
          AND t_tag_log_map.lid = t_log.id;
    </select>

    <insert id="createTag" useGeneratedKeys="true" keyProperty="id" parameterType="Tag">
        INSERT INTO t_tag(`desc`)
        VALUES (#{desc});
    </insert>

    <insert id="addTagForLog" useGeneratedKeys="true" keyProperty="mid" parameterType="Tag">
        INSERT INTO t_tag_log_map(tid, lid)
        VALUES (#{tag.id}, #{lid});
    </insert>

    <delete id="deleteTagFromLog">
        DELETE
        FROM t_tag_log_map
        WHERE id = #{id}
          AND tid = #{tid}
          AND lid = #{lid};
    </delete>

    <select id="getTag" resultType="Tag">
        SELECT *
        FROM t_tag
        WHERE `desc` = #{desc};
    </select>
</mapper>