.label {
    margin-bottom: 10px;
    line-height: 1;
    font-size: 16px;
    color: #000000;;
}

.hidden {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.post-blog-area h6 {
    font-size: 18px;
    color: #000000;
    margin-bottom: 30px;
}

.post-blog-area button {
    background-color: #ffffff;
}
